<ion-content>

  <div class="header">
    <h3>Bienvenido</h3>
    <h1>Ingresar tipo <br> de plato </h1>
  </div>
  <div class="form">
    <ion-input type="text" placeholder="Ingresé tipo de plato"></ion-input>
    <ion-input type="file" placeholder="Ingresé descripción"></ion-input>
    <ion-input type="area" placeholder="Ingresé descripción"></ion-input>  
  </div>
  <div class="button">
    Registrar <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <div class="footer">
    <h3 routerLink="/home">Regresar a ver todos los restaurantes:  <span>Pantalla de inicio</span></h3>
  </div>

</ion-content>
