<ion-content>

  <div class="header">
    <h3>Bienvenido</h3>
    <h1>Ingresar nuevo <br> Restaurante </h1>
  </div>
  <div class="form">
    <ion-input type="text" placeholder="Ingresé nombre del restaurante"></ion-input>
    <ion-input type="area" placeholder="Ingresé descripción"></ion-input>
    <ion-input type="number" placeholder="Ingresé número de contacto"></ion-input>
    <ion-input type="number" placeholder="Ingresé horario de atención"></ion-input>
    <ion-input type="text" placeholder="Ingresé menús"></ion-input>
  </div>
  <div class="button">
    Registrar <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <div class="footer">
    <h3 routerLink="/restaurants">Regresar a ver todos los restaurantes:  <span>Todos los restaurantes</span></h3>
  </div>

</ion-content>
