<ion-content>

  <div class="header">
    <h3>Bienvenido</h3>
    <h1>Crear una <br> Nueva cuenta </h1>
  </div>
  <div class="form">
    <ion-input type="text" placeholder="Ingrese un Nombre"></ion-input>
    <ion-input type="email" placeholder="Ingrese un Correo"></ion-input>
    <ion-input type="password" placeholder="Ingrese una Contraseña"></ion-input>
    <ion-input type="password" placeholder="Ingrese la Contraseña de nuevo"></ion-input>
  </div>
  <div class="button">
    Registrarse <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
  <div class="footer">
    <h3 routerLink="/login">¿Ya tienes una cuenta? <span>Iniciar Sesión</span></h3>
  </div>

</ion-content>
